@{
    ViewBag.Title = "Contact";
}

<div>
    <h2>Kontakty</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        <strong>Správa teamů:</strong>   <a href="mailto:teams@asfan.cz">teams@asfan.cz</a>
        <abbr title="Telefoní číslo">Tel.:</abbr>
        425.555.0100<br />
        <strong>Support:</strong>   <a href="mailto:Support@asfan.cz">Support@asfan.cz</a>
        <abbr title="Telefoní číslo">Tel.:</abbr>
        425.555.0100<br />
        <strong>Nábor redaktorů:</strong> <a href="mailto:Recruitment@asfan.cz">Recruitment@asfan.cz</a>
        <abbr title="Telefoní číslo">Tel.:</abbr>
        425.555.0100<br />
    </address>
</div>